body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #43cea2, #185a9d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    border: none;
    background: #185a9d;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.option {
    background: #f1f1f1;
    color: black;
}

.hidden {
    display: none;
}
